/*
  Estos estilos corresponden a los siguientes archivos:

  - historia.html
    - misión
    - visión
  - colecciones.html
  - publicaciones.html
  - noticias.html
  - eventos.html
  - ayuda.html
  - preguntas.html
  - contacto.html
*/

.contNosotros {
  color: #333;
  margin: 10px auto 0 auto;
  width: 922px;
}

.contNosotros h2 {
  font-weight: 400;
}

.contNosotros .h2vision {
  margin-top: 90px;
}

.contNosotros p {
  font-weight: 400;
  line-height: 1.8em;
  margin-top: 20px;
}

.contMision, .contEquipo {
  padding-top: 90px;
}

@media (max-width:768px) {
  .contNosotros {
    padding: 10px 5%;
    width: 100%;
  }
}