

.contFormulario, .contFormularioAdmin {
    border-radius: 10px;
    display: flex;
    margin: 40px 0;
    overflow: hidden;
    width: 720px;
}

.contFormulario {
    background-color: #eee;
}

.contFormularioAdmin {
    background-color: #111;
}

.formulario, .contInfo, .contInfoAdmin {
    padding: 20px;
    width: 50%;
}

.tituloFormulario {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.formGrupo {
    margin: 20px 0;
}

.formLabel {
    display: block;
    font-size: 0.85em;
    font-weight: 400;
    margin-bottom: 4px;
}

.textAdmin {
    color: #ddd;
}

.campoTexto, .mensaje, .botonEnviar, .botonSecundario, .botonEnviarAdmin {
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #999;
    color: #555;
    font-family: "Roboto";
    font-size: 0.9em;
    outline: none;
    padding: 10px;
    width: 100%;
}

.campoTexto:focus, .mensaje:focus {
    border: 1px solid #dab410;
    box-shadow: 1px 1px 8px #888;
}

.mensaje {
    min-height: 180px;
    resize: vertical;
}

.botonEnviar, .botonSecundario, .botonEnviarAdmin {
    box-shadow: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.botonEnviar {
    background-color: #dab410;
    border: 2px solid #eee;
    color: white;
}

.botonEnviar:hover {
    background-color: white;
    border: 2px solid #dab410;
    color: #dab410;
}

.botonEnviarAdmin {
    background-color: #333;
    border: 2px solid #111;
    color: white;
}

.botonEnviarAdmin:hover {
    background-color: #777;
}

.botonSecundario {
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
}

.botonSecundario:hover {
    background-color: orangered;
    border: 2px solid #fff;
    color: white;
}

.formulario span {
    font-size: 0.85em;
    font-weight: 500;
}

.formLink {
    color: #dab410;
    font-weight: bold;
}

.contInfo, .contInfoClaro {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contInfo {
    background-color: orangered;
}

.contInfoClaro {
    background-color: #ddd;
    color: #333;
}

.contInfo span, .contInfo p {
    font-size: 0.9em;
    font-weight: 400;
}

.infoDiv {
    text-align: center;
    width: 100%;
}

.infoDiv img, .infoDiv span {
    display: block;
    margin: auto;
}

.infoDiv span {
    font-weight: 400;
    padding: 5px 0;
}


@media (max-width:768px) {
    .contFormulario {
        flex-direction: column;
        width: 70%;
    }
    .formulario, .contInfo {
        width: 100%;
    }
    .infoDiv {
        padding: 20px;
    }
}

@media (max-width:576px) {
    .contMain {
        padding: 0;
    }
    .contFormulario {
        border-radius: none;
        width: 100%;
    }
}