.encabezado {
  background-color: #111;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.contNav {
  margin: 0 auto;
}

.redesSesiones {
  background-image: url(../img/textura.jpg);
  display: flex;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}

.iconoRed > img {
  height: 24px;
  margin-right: 20px;
  margin-top: 4px;
}

.sesiones > a {
  color: #222;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 30px;
  margin-left: 20px;
  padding: 6px 20px;
}

.sesiones > a:hover {
  background-color: #eee;
}

.navegacion {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  text-align: center;
  height: 100%;
}

.logoTexto {
  color: white;
}

.logoImg {
  display: block;
  height: 36px;
  width: auto;
}

.menu {
  display: flex;
}

.menu .enlaceMenu {
  color: white;
  padding: 18px 20px;
  transition: all 0.3s;
}

.menu .enlaceMenu:hover {
  border-bottom: 4px solid #e1af04;
  padding-bottom: 15px;
}

.subMenu {
  background-color: white;
  box-shadow: 1px 1px 4px #444;
  display: none;
  margin-top: 19px;
  width: 220px;
  position: absolute;
}

.subMenu li {
  display: block;
  padding: 15px 20px;
}

.subMenu li:hover {
  background-color: #ddd;
}

.subMenu .enlaceSubmenu {
  color: #333;
  font-weight: 400;
}

.menu li:hover .subMenu {
  display: block;
}