/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*.contHome {
    background-image: linear-gradient(rgba(225, 175, 4, 0.25), rgba(210, 150, 20, 0.25)), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 360px;
    margfin-top: 90px;
}

.contMain {
    background-color: #4b34fa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
    margifn-top: 90px;
    padfding: 40px 0;
    width: 100%;
}*/

.contBanner {
    background-image: linear-gradient(rgba(215, 168, 7, 0.3), rgba(248, 205, 58, 0.3)), url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100dvh - 80px);
    width: 100%;
}

.banner {
    background: linear-gradient(rgba(215, 168, 7, 0.95), rgba(248, 205, 58, 0.65));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
}

.banner > h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    line-height: 175px;
    max-width: 992px;
    text-shadow: 4px 4px 4px #000;
}

.busqueda {
    display: flex;
    width: 760px;
}

.busqueda > input, .busqueda > button {
    border: none;
    box-shadow: 2px 2px 8px #333;
    font-size: 1.1em;
    height: 45px;
    outline: none;
    padding: 5px 10px;
}

.busqueda > input {
    border-radius: 5px 0 0 5px;
    width: 80%;
}

.busqueda > button {
    background-color: #e1af04;
    border-radius: 0 5px 5px 0;
    color: white;
    text-shadow: 1px 1px 4px black;
    width: 20%;
}

.destacadosTitulo, .destacadosSub {
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.destacadosSub {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.pubDestacadas {
    display: flex;
    justify-content: space-around;
    height: 320px;
    margin: 0 auto;
    width: 100%;
}

.card {
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    font-size: 0.85em;
    font-weight: 400;
    width: 250px;
}

.card > img {
    border-radius: 5px;
    width: inherit;
}

.card h3, .card p {
    margin: 10px;
}

.piePagina {
    background-color: #333;
    font-size: 0.85em;
    margin-top: 40px;
    padding: 20px 0;
    width: 100%;
}

.menuPie {    
    display: flex;
    height: auto;
    justify-content: space-around;
}

.piePagina a {
    color: white;
}

.piePagina .resaltado {
    font-weight: 500;
}

.piePagina .derechos {
    border-top: 1px solid #222;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 30px;
}

.piePagina .derechos > p {
    color: white;
    margin: 0 auto;
}